
  body{
    padding: 0%;
    margin: 0%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    padding: 12px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .nav-brand {
    font-size: 1.2rem;
    font-weight: 700;
  }

  /* LINKS */
  .nav-links {
    display: flex;
    gap: 20px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }


  /* ACTIVE LINK */
  .nav-links .active {
    color: #ffe274;
    font-weight: 700;
  }

  /* TOGGLE ICON */
  .nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }

  .bar {
    width: 22px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }

  /* MOBILE */
  @media (max-width: 600px) {
    .nav-toggle {
      display: flex;
    }

    .nav-links {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: #1e3a8a;
      flex-direction: column;
      align-items: center;
      gap: 18px;
      padding: 15px 0;
      transform: translateY(-120%);
      transition: 0.3s ease;
    }

    .nav-links.open {
      transform: translateY(0);
    }
  }
