* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* FULL PAGE */

.login-wrapper {
  height: 100vh;
  display: flex;
  background: url("Client/src/assets/login.jpeg")
    center/cover no-repeat;
}

/* LEFT SIDE */

.login-left {
  flex: 1;
  padding: 60px;
  color: white;
  display: flex;
  align-items: center;
}

.brand-box h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.brand-box p {
  font-size: 18px;
  opacity: 0.8;
}

/* RIGHT SIDE */

.login-right {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
}

/* LOGIN CARD */

.login-card {
  width: 320px;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255,255,255,0.85);
  display: flex;
  flex-direction: column;
}

.login-card h2 {
  margin-bottom: 4px;
}

.subtitle {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/* INPUTS */

.login-card input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* BUTTON */

.login-card button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

/* REGISTER */

.register-link {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}

.register-link a {
  color: #2563eb;
  text-decoration: none;
}