/* Fixed Header */
.top-header {
  height: 40px;                 /* fixed bar height */
  background: #0b1c39;
  color: white;
  padding: 8px 30px;             /* remove vertical padding */
  display: flex;
  align-items: center;         /* vertical center */
  justify-content: space-evenly;     /* horizontal center */
  gap: 40px;
  font-size: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

/* REMOVE default paragraph margin */
.top-header p {
  margin: 0;
  line-height: 40px;           /* match height for perfect center */
}

.blue{
    color: #0056ff;
}

.main-header {
  background: #7db4ff;
  padding: 20px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 998;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #0056ff;
}

.logo span {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
}


.nav-links a {
  padding: 10px 18px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.nav-links a:hover {
  background: #0056ff;
  border-radius: 4px;
}
/* Buttons */

.right-actions {
  display: flex;
  gap: 10px;
}

.right-actions a {
    text-decoration: none;
}
.emergency-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
}



.logout-btn {
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
}

/* Hamburger */

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}

/* Responsive */

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #7db4ff;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .right-actions {
    display: none;
  }

  .top-header {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
}